---
import styles from "../modulesCSS/componentsCSS/animatedHeadings.module.css";
---

<div class={styles["Hero-Container"]}>
  <div class={styles["Hero-Text"]}>
    <div class={styles["h1-container"]}>
      <h1 class={`${styles.h1} ${styles["animate-1"]}`}>Desarrollo Web</h1>
      <h1 class={`${styles.h1} ${styles["animate-2"]}`}>Diseño Web</h1>
    </div>
    <div class={styles["concept-container"]}>
      <p class={`${styles.concept} ${styles["animate-1"]}`}>
        Somos un equipo de expertos en desarrollo web y diseño web que se
        especializa en la creación de sitios web atractivos y funcionales que
        reflejen la identidad de tu negocio.
      </p>
      <p class={`${styles.concept} ${styles["animate-2"]}`}>
        Nuestro enfoque se basa en la creación de sitios web que reflejen la
        identidad de tu negocio y que sean fáciles de navegar y usar.
      </p>
    </div>
    <div class={styles["button-container"]}>
      <a class={`${styles.button} ${styles["animate-1"]}`} href="/contacto">
        Contáctanos
      </a>
      <a class={`${styles.button} ${styles["animate-2"]}`} href="/contacto">
        Contáctanos
      </a>
    </div>
  </div>

  <img
    class={styles["hero-image"]}
    src="https://via.placeholder.com/400x400"
    alt="Imagen de ejemplo"
  />
</div>
