---
import styles from "../modulesCSS/componentsCSS/infoContacto.module.css"
---
<div class={styles.container}>
    <div class={styles.containerInfo}>
    <div class={styles.info}>
        <h1 class={styles.title}>Cont치ctanos</h1>
        <p class={styles.text}>Queremos que esa gran idea se haga realidad. Nuestro equipo esta listo para brindarte la mejor soluci칩n tecnol칩gica.</p>
        <div id="button-container" class="button-container hidden">
            <button id="button" class={styles.button}>Cont치ctanos</button>
          </div>
    </div>  
    <div class={styles.banner}>
        <img class={styles.bannerImg} src="public/service-content-1.webp" alt="img-servicios">
      <div class={styles.cuadrado}></div>
    </div>
    </div>
</div>