---
import styles from "../modulesCSS/componentsCSS/nav.module.css";

const pathname: string = Astro.url.pathname;

const activeClass = (path: string): string => {
  return pathname === path ? styles.active : "";
};
---

<div class="w-1/3 flex justify-around items-center">
  <a class={`${styles.enlaces} ${activeClass("/")}`} href="/">Inicio</a>

  <!-- Menú desplegable para 'Servicios' -->
  <div class={styles.dropdown}>
    <p class={styles.enlaces}>Servicios</p>
    <div id="dropdownMenu" class={styles.dropdownMenu}>
      <a href="/desarrolloWeb" class={styles.dropdownItem}>Desarrollo Web</a>
      <a href="/diseñoWeb" class={styles.dropdownItem}>Diseño Web</a>
      <a href="/brandingIdentidad" class={styles.dropdownItem}
        >Branding e Identidad</a
      >
    </div>
  </div>

  <a class={`${styles.enlaces} ${activeClass("/contacto")}`} href="/contacto"
    >Contáctenos</a
  >
</div>

<script is:inline>
  // Escucha el evento DOMContentLoaded para asegurarte de que el DOM está cargado.
  document.addEventListener("DOMContentLoaded", () => {
    const dropdownMenu = document.getElementById("dropdownMenu");

    if (!dropdownMenu) {
      console.error("El elemento 'dropdownMenu' no fue encontrado.");
      return;
    }

    // Escucha el evento de scroll
    window.addEventListener("scroll", () => {
      if (window.scrollY > 90) {
        dropdownMenu.classList.add("scrolled"); // Clase global
      } else {
        dropdownMenu.classList.remove("scrolled"); // Clase global
      }
    });
  });
</script>
