---
import styles from "../modulesCSS/componentsCSS/nav.module.css";
---

<div class={styles.nav}>
  <a class={styles.enlaces} href="/">Inicio</a>
  <a class={styles.enlaces} href="/servicios/">Servicios</a>
  <a class={styles.enlaces} href="/portafolio">Portafolio</a>
  <a class={styles.enlaces} href="/contacto">Contáctenos</a>
</div>
