---
import styles from "../modulesCSS/componentsCSS/nav.module.css";

// Obtener la ruta actual como string
const pathname: string = Astro.url.pathname;

// Función para agregar la clase 'active' si la ruta coincide
const activeClass = (path: string): string => {
  return pathname === path ? styles.active : ''; // Usa 'styles.active' para asegurar que el CSS se aplique correctamente
};
---

<div class={styles.nav}>
  <a class={`${styles.enlaces} ${activeClass('/')}`} href="/">Inicio</a>
  <a class={`${styles.enlaces} ${activeClass('/servicios/')}`} href="/servicios/">Servicios</a>
  <a class={`${styles.enlaces} ${activeClass('/portafolio')}`} href="/portafolio">Portafolio</a>
  <a class={`${styles.enlaces} ${activeClass('/contacto')}`} href="/contacto">Contáctenos</a>
</div>
