---
import styles from "../modulesCSS/componentsCSS/nav.module.css";

const pathname: string = Astro.url.pathname;

const activeClass = (path: string): string => {
  return pathname === path ? styles.active : "";
};
---

<div class="w-1/3 flex justify-around items-center">
  <a class={`${styles.enlaces} ${activeClass("/")}`} href="/">Inicio</a>

  <!-- Menú desplegable para 'Servicios' -->
  <div class={styles.dropdown}>
    <p class={styles.enlaces}>Servicios</p>
    <div class={styles.dropdownMenu}>
      <a href="/desarrolloWeb" class={styles.dropdownItem}>Desarrollo Web</a>
      <a href="/diseñoWeb" class={styles.dropdownItem}>Diseño Web</a>
      <a href="/brandingIdentidad" class={styles.dropdownItem}
        >Branding e Identidad</a
      >
    </div>
  </div>

  <a class={`${styles.enlaces} ${activeClass("/contacto")}`} href="/contacto"
    >Contáctenos</a
  >
</div>
