---
import styles from "../modulesCSS/componentsCSS/quienesSomos.module.css";
---

<div class={styles.quienesSomos}>
  <div class={styles.info}>
    <h2 class={styles.title}>¿Quiénes somos?</h2>
    <p class={styles.text}>
      Somos un equipo de expertos en desarrollo web y diseño web que se
      especializa en la creación de sitios web atractivos y funcionales que
      reflejen la identidad de tu negocio.
    </p>
  </div>
  <div class={styles.containerImg}>
    <div class={styles.img}></div>
  </div>
</div>
<div class={styles.banner}>
  <div class={styles.bannerImg}></div>
</div>
