---
import { IconDeviceIpadHorizontalCode,IconDevices } from '@tabler/icons-react';
import styles from "../modulesCSS/componentsCSS/sectionProducts.module.css";
---



<div class={styles.products}>
    <div class={styles.dev}>
        <IconDeviceIpadHorizontalCode stroke={2} className={styles.icon} />
    </div>
    <div class={styles.dising}>
        <IconDevices stroke={2}  className={styles.icon}/>
    </div>
</div>