---
import { IconDeviceIpadHorizontalCode, IconDevices } from "@tabler/icons-react";
import styles from "../modulesCSS/componentsCSS/servicios.module.css";
---

<div class={styles.container}>
  <!-- Contenedor de los íconos -->
  <div class={styles.icons}>
    <div id="dev-icon" class={styles.products}>
      <IconDeviceIpadHorizontalCode className={styles.icon} />
    </div>
    <div id="design-icon" class={styles.products}>
      <IconDevices className={styles.icon} />
    </div>
  </div>

  <!-- Contenedor para mostrar la información -->
  <div class={styles.infoServicios}>
    <div id="info-box" class={styles.info}>
      <h2 id="info-title" class={styles.title}></h2>
      <p id="info-content"></p>
    </div>
    <div id="banner" class="banner hidden"></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const devIcon = document.getElementById("dev-icon");
    const designIcon = document.getElementById("design-icon");
    const infoTitle = document.getElementById("info-title");
    const infoContent = document.getElementById("info-content");
    const banner = document.getElementById("banner");

    // Verificar que los elementos existan antes de añadir eventos
    if (devIcon && designIcon && infoTitle && infoContent && banner) {
      // Mostrar la información de "dev" por defecto
      infoTitle.innerHTML = "Desarrollo de Sitios Web";
      infoContent.innerHTML =
        "Ofrecemos desarrollo de sitios web personalizados con tecnologías modernas.";
      banner.classList.remove("hidden"); // Mostrar banner
      const img = document.createElement("img");
      img.src = "/service-content-1.webp"; // Ruta de la imagen
      banner.appendChild(img); // Agregar la imagen al banner

      // Evento para desarrollo
      devIcon.addEventListener("click", () => {
        infoTitle.innerHTML = "Desarrollo de Sitios Web";
        infoContent.innerHTML =
          "Ofrecemos desarrollo de sitios web personalizados con tecnologías modernas.";
        banner.innerHTML = ""; // Limpiar el contenido anterior del banner
        const img = document.createElement("img");
        img.src = "/service-content-1.webp"; // Ruta de la imagen
        banner.appendChild(img); // Agregar la imagen al banner
      });

      // Evento para diseño
      designIcon.addEventListener("click", () => {
        infoTitle.innerHTML = "Diseño de Sitios Web";
        infoContent.innerHTML =
          "Diseño de sitios web atractivos y funcionales que reflejen la identidad de tu negocio.";
        banner.innerHTML = ""; // Limpiar el contenido anterior del banner
        const img = document.createElement("img");
        img.src = "/service-content-1.webp"; // Ruta de la imagen
        banner.appendChild(img); // Agregar la imagen al banner
      });
    } else {
      console.error("No se encontraron los elementos necesarios en el DOM.");
    }
  });
</script>
