---
import { IconDeviceIpadHorizontalCode, IconDevices } from "@tabler/icons-react";
import styles from "../modulesCSS/componentsCSS/servicios.module.css";

---
<div class={styles.container}>
  <!-- Contenedor de los íconos -->
  <div class={styles.icons}>
    <div id="dev-icon" class={styles.products}>
      <IconDeviceIpadHorizontalCode className={styles.icon} />
    </div>
    <div id="design-icon" class={styles.products}>
      <IconDevices className={styles.icon} />
    </div>
  </div>

  <!-- Contenedor para mostrar la información -->
  <div class={styles.infoServicios}>
    <div id="info-box" class={styles.info}>
      <h1 id="info-title" class={styles.title}></h1>
      <p id="info-content" class={styles.text}></p>
      <div id="button-container" class="button-container hidden">
        <button id="button" class={styles.button}>Contáctanos</button>
      </div>
    </div>
    
    <div id="banner" class={styles.bannerhidden}>
      <img class={styles.bannerImg} src="public/service-content-1.webp" alt="img-servicios">
      <div class={styles.cuadrado}></div>
    </div>
    
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const devIcon = document.getElementById("dev-icon");
    const designIcon = document.getElementById("design-icon");
    const infoTitle = document.getElementById("info-title");
    const infoContent = document.getElementById("info-content");
    

    // Verificar que los elementos existan antes de añadir eventos
    if (devIcon && designIcon && infoTitle && infoContent) {
      // Mostrar la información de "dev" por defecto
      infoTitle.innerHTML = "Creación de Sitios Web";
      infoContent.innerHTML = "Ofrecemos desarrollo de sitios web personalizados con tecnologías modernas.";

      // Evento para desarrollo
      devIcon.addEventListener("click", () => {
        infoTitle.innerHTML = "Creación de Sitios Web";
        infoContent.innerHTML = "Ofrecemos desarrollo de sitios web personalizados con tecnologías modernas.";
     
      });

      // Evento para diseño
      designIcon.addEventListener("click", () => {
        infoTitle.innerHTML = "Diseño de Sitios Web";
        infoContent.innerHTML = "Diseño de sitios web atractivos y funcionales que reflejen la identidad de tu negocio.";
       
      });
    } else {
      console.error("No se encontraron los elementos necesarios en el DOM.");
    }
  });
</script>
